.Phonetic .audio-player {
  display: inline-block;
  justify-content: center;
  padding-bottom: 20px;
  margin-right: -400px;
}

.Phonetic .audio-text {
  margin: 0 auto;
  padding-top: 14px;
  text-align: center;
}

.Phonetic .text {
  opacity: 0.6;
  font-weight: bold;
  font-size: 20px;
}
